body {
  font-family: "Fira Code";
  background-color: #4a3933;
  color: #f0a500;
}

hr {
  border-style: dotted none none;
  border-width: 10px;
  width: 10%;
  opacity: 75%;
}

h1 {
  color: #e45826;
}

h3 {
  color: #e45826;
}

a {
  color: #e45826;
}
